.add-new-item .flex-container {
    display: flex;
    flex-direction: row;
    background: var(--blue);
    color: var(--white);
    height: 141px;
    font-size: 1em;
    margin: 0;
    justify-content: space-between;
}
.add-new-item .container {
    border: 3px solid #0683f9;
    border-radius: 6.5px;
    box-shadow: #0683f9;
    height: 131px;
    width: 1172px;
    top: -71px;
    position: relative;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.add-new-item .container2 {
    border: 3px solid #0683f9;
    border-radius: 6.5px;
    box-shadow: #0683f9;
    height: 131px;
    width: 500px;
    top: -71px;
    position: relative;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#section-new-country .container, #section-edit-city .container
#section-new-city .container, #section-new-region .container, #section-edit-country .container {
    width: 500px;
}
#section-new-region,
#section-new-country,#section-edit-country, #section-edit-city,  #section-new-city {
    max-width: 600px;
}
#section-new-company,
#section-new-contact,
#section-edit-contact {
    max-width: 1215px;
    margin: 0 auto;
}

#section-new-region select,
#section-new-country select {
    height: 35.5px;
    width: 190px;
    border-radius: 3.5px;
    border: 1px solid #cccccc;
    text-align: center;
}

.add-new-item h2 {
    margin: 0;
    padding: 11px 22px;
    font-size: 1.2em;
}

.add-new-item,
.form {
    z-index: 4;
    position: relative;
    background: white;
    width: 800px;
}

#section-new-company .form {
    height: 250px;
}
#section-new-region,
.form,
#section-new-country .form,
#section-new-city form {
    z-index: 4;
    position: relative;
    background: white;
    width: 100%;
}

#section-new-region .form,
#section-new-country .form, #section-new-city .form {
    height: auto;
}

.none {
    display: none;
}

#black-company,
#black,
#black-region,
.background-black {
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100em;
}

.btb-new-contact-blue {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    width: 173px;
    height: 42px;
    letter-spacing: 0;
    text-align: center;
    background: var(--blue);
    border: 0;
    margin: 0;
}
///////////////////////

#section-new-contact .container span,
#section-edit-contact .container span,
#section-new-company .container span,
#section-new-region .container span {
    color: #f03738;
}

.add-new-item input {
    width: 190px;
    height: 35.5px;
    border: 1px solid #cccccc;
    border-radius: 3.5px;
    display: block;
}

#section-new-country .container-input {
    margin: auto;
}
#section-new-contact .container-new-contact,
#section-edit-contact .container-new-contact {
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box {
    padding: 5px;
    margin: 0;
    padding-bottom: 1.5em;
    width: 20%;
}
.plus {
    font-size: 28px;
    margin: 5px;
}

#btn-add-channel {
    height: 35.5px;
    width: 168px;
    border-radius: 3.5px;
    border: 1px solid #cccccc;

    background: none;
    color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 {
    margin: 0;
}
#section-new-contact #interes-new-contact,
#section-edit-contact {
    width: 70px;
}
#section-new-contact,
.form-new-contact,
#section-edit-contact, #section-new-company {
    z-index: 4;
    position: relative;
    background: white;
    height: 100%;
    width: 100%;
}

.container-new-contact .flex-container-buttons,
.container-new-company .flex-container-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.flex-container-buttons {
    margin-top: 100px;
}
.container-new-company  .flex-container-buttons, #section-new-country  .flex-container-buttons, #section-new-city .flex-container-buttons, #section-edit-city  .flex-container-buttons{
    margin-top: 0px;
    margin-bottom: 5px;
    display: flex;

}
.container-new-contact .flex-container-buttons input,
.flex-container-buttons button {
    margin: 10px;
}
.container-new-company .flex-container-buttons input,
.flex-container-buttons button {
    margin: 10px;
}
.container-new-company .flex-container-buttons input {
    border-radius: 2px;
    border: none;
    height: 42px;
    font-weight: bold;
    color: var(--white);
    background: green;
    width: 250px;
    margin: 0;
    margin: 10px;
}

.inactivo {
    width: 250px;
    height: 42px;
    font-weight: bold;
    color: var(--white);
    background: rgba(0, 0, 0, 0.25);
}
.verde {
    background: green;
    width: 250px;
    margin: 0;
}

.btn-cancel {
    font-weight: bold;
    background: none;
    border: none;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.25);
}

.btn-cancel-red {
    color: #ce1a1b;
    width: 250px;
    background: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.add-new-item .flex-container i {
    margin: 22px;
}
.alert-delete {
    z-index: 4;
    position: relative;
    background: white;
    width: 339px;
    height: 303px;
}
.section-alert--p {
    font-size: 1em;
    text-align: center;
    margin: 17px 17px 30px;
}

.section-alert-btn-cancel {
    border: 1px solid blue;
    border-radius: 1.4px;
    padding: 20px;
    background: none;
    color: blue;
    width: 130px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-alert-btn-delete {
    border: 1px solid;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1.4px;
    padding: 20px;
    background: #f03738;
    color: white;
    width: 130px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-alert-icon {
    font-size: 100px;
    color: #ffdbac;
}
.section-alert-cross {
    font-size: 50px;
    color: #db0404;
}
.section-alert-div--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-alert--container_btn {
    display: flex;

    justify-content: space-between;
    margin: 0;
}

#div-new-country {
    margin-left: 1038px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    width: 173px;
    height: 42px;
    letter-spacing: 0;
    text-align: center;
    background: var(--blue);
    border: 0;
    cursor: pointer;
}
