#section-city .flex-container,
#title-section-company .flex-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 4em 2em;
}
#section-city .flex-container div,
#title-section-company .flex-container div {
  display: flex;
  margin: 0;
  align-items: center;
  text-align: center;
}

.icon-city {
  padding: 6px 10px;
  background-color: #e64980;
  color: white;
  border-radius: 3px;
}

#section-city h1,
h1 {
  padding-left: 10px;
}
/* .fab,
.far {

  font-size: 12px;
} */
#section-city .flex-container span,
#section-city h1,
#section-city a,
#title-section-company .flex-container span,
#title-section-company h1,
#title-section-company a,
#title-section-contact h1,
#title-section-contact span, #section-new-region .flex-container-buttons {
  margin: 0;
}
.region {
  margin: 1em;
  font-size: 1.3em;
}
/* Remove default bullets */
ul,
#myUL {
  list-style-type: none;
  height: 100%;
}

#myUL button {
  background: none;
  color: var(--blue);
  border-radius: 3px;
  border: none;
  width: 60px;
  height: 31px;
  margin: 0;
  cursor: pointer;
}
#myUL .button-add-city {
  width: 10%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-radius: 2px;
  width: 173px;
  height: 42px;
  letter-spacing: 0;
  text-align: center;
  background: var(--blue);
  border: 0;
  cursor: pointer;
}

.flex-container .buttons {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

li {
  padding: 0.6em;
  font-size: 16px;
}

#region-title:hover {
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 3px;
  padding: 10px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: #e2050559;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

.nested.active {
  & .region {
    display: flex;
    flex-wrap: wrap;
  }
}

.country {
  margin-left: 50px;
  margin-right: 50px;
}

.citys li {
  margin-left: 100px;
  margin-right: 0;
  width: 115px;
}

.citys div {
  display: flex;
  height: 3em;
  align-items: center;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

#myUL .button-flex-direccion,
#myUL .button-flex-direccion span {
  margin-left: 71%;
  margin-top: -18px;
}

#myUL .button-flex-direccion.citys {
  display: flex;
}


///////// new country
