:root {
    --blue: #0665be;
    --white:#FFFFFF;

}

.container1 {
    display: flex;
    align-items: center;
    width: 90%;
    margin:4em 2em 1em;
}

#table-company thead th {
    width: 30%;
    text-align: initial;
    font-weight: lighter;
}
#table-company {
    table-layout: fixed;
    width: 96%;
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 29.5px;
}
.icon-company {
    padding: 6px 10px;
    background-color: #ffd43b;
    color:rgb(85, 102, 9);
    border-radius: 3px;
  }
