

header nav {
	display: flex;
	align-items: center;
}
.container {
    width: 90%;
	margin: auto;

}

header .container span {
width: 76px;
height: 1px;	
border: 1px solid #FFFFFF;
display: block;
margin: 0;
display: none;
}

.container span:nth-child(3) {
	width: 60px;
}

header .container div {
	margin: 0;
}

header {
    padding: 14px 0;
    background-color: var(--blue);
    height: 64px;
}

 header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

header .logotipo {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    color: var(--white);
	font-size: 1.5em;
	margin: 0;
}

header nav a, header nav p{
	color:white;
	text-decoration: none;
	margin-right: 25px;
    text-align: center;
}

header nav a:hover,
header nav a.activo {
	font-weight: bold;
}